<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UserFilesPath" value="~/FileManager" />
    <add key="IsMultiLanguage" value="true" />
    <add key="IsMobile" value="true" />
    <add key="EncryptKey" value="HR$2pIjHR$2pIj12" />
    <add key="Telerik.Web.UI.DialogParametersEncryptionKey" value="2C23234234D4566DC4AD6A-63D6-4db9-A3FB-3adfasd6846D" />
    <add key="Telerik.Skin" value="Metro" />
  </appSettings>
  <connectionStrings>
    <add name="eNrollConnectionString" connectionString="server=192.168.1.2;database=eNrollQ;uid=sa;pwd=say98" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/App_Data.EnrollExpressModel.csdl|res://*/App_Data.EnrollExpressModel.ssdl|res://*/App_Data.EnrollExpressModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.2;initial catalog=eNrollQ;user id=sa;password=say98;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <httpModules>
      <add name="UrlMapping" type="UrlMapping" />
    </httpModules>
    <caching>
      <sqlCacheDependency enabled="true" pollTime="60000">
        <databases>
          <add name="Entities" connectionStringName="Entities" />
          <add name="eNrollConnectionString" connectionStringName="eNrollConnectionString" />
        </databases>
      </sqlCacheDependency>
    </caching>
    <httpRuntime maxRequestLength="50000" />
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name="EnrollSessionAuthentication" loginUrl="MemberLogin.aspx" timeout="30" />
    </authentication>
    <pages>
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
    </httpHandlers>
    <sessionState cookieName="EnrollSession" mode="InProc" timeout="30" />
  </system.web>
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="MemberProfile.aspx">
    <system.web>
      <authorization>
        <allow roles="User" />
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Content.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlMapping" type="UrlMapping" />
    </modules>
    <handlers>
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="51200000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="localhost" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>