/* CSS Document */ /* CETIN CONE */
body { }
body img { max-width: 100% !important; }
a { color:#333 !important; text-decoration:none; }
a:hover { color:#333 !important; text-decoration:none; }

.ui-header .ui-title, .ui-footer .ui-title { white-space: pre-line; }

/* Buton */
.button { -moz-box-shadow: inset 0px 1px 0px 0px #ffffff; -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff; box-shadow: inset 0px 1px 0px 0px #ffffff; background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) ); background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
background-color: #ededed; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid #dcdcdc; display: inline-block; font-weight: normal; padding: 3px 6px; text-decoration: none; text-shadow: 1px 1px 0px #ffffff; }
.button:hover { text-decoration: none !important; background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) ); background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
background-color: #dfdfdf; }
.buttonactive { -moz-box-shadow: inset 0px 1px 0px 0px #ffffff; -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff; box-shadow: inset 0px 1px 0px 0px #ffffff; background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) ); background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
background-color: #ededed; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid #dcdcdc; display: inline-block; font-weight: bold; padding: 3px 6px; text-decoration: none; text-shadow: 1px 1px 0px #ffffff; }
/* Buton */

/* İçerik */
.contentimage { float: left; margin: 0 10px 5px 0; }
.contentdate { font-size: 0.4em; font-weight:normal; }
/* İçerik */

/* Arama */
.searchbox { color: #ccc; font-size: 12px; font-style: italic; }
.search { margin: 15px; padding: 0; list-style: square url("../../../../App_Themes/mainTheme/images/ok.png"); }
.search li { padding: 4px 0; }
.search p { margin-left: -15px; }
.serachresults { margin: 5px 0; }
/* Arama */

/* İçerik Listeleme */
.listname { font-size: 1.5em; font-weight: bold; margin: 0px 10px 0px 0px; text-align: left; }
.listdate { font-size: 0.7em; font-weight: normal; margin: 0px 10px 5px 0px; }
.listbrief { text-align: left;  font-size: 1em; font-weight: normal; }
/* İçerik Listeleme */

/* Galeri */
.gallery { list-style: none; padding: 0; margin: 0; }
.gallery:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.gallery li { float: left; width: 33.33333333%; text-align: center; }
.gallery li a { display: block; margin: 5px; }
.gallery li img { display: block; width: 100%; height: auto; }
/* Galeri */

/* Dynamic form */
.dynamicform { width: 100%; }
.dynamicform .error { color: red; font-size: 12px; font-weight: bold; margin-left: 3px; }
.dynamicform .Captcha p { margin: 0 5px 0 0; float: left; width: 40px; }
.dynamicform .Captcha span { color: red; font-size: 10px; font-weight: bold; }
.dynamicform .Captcha img { float: left; }
.dynamicform .CaptchaTextBox { width: 40px; }
.dynamicform .CaptchaTextBoxLabel { display: none; }
.dynamicform .FormSubmit { margin: 0; }
/* Dynamic form */

/* eNroll Div */
#eNroll { font-size:10px; text-decoration:none; text-align:center;}
#eNroll a{ text-decoration:none; }
#eNroll a:hover{ color:#872055; }
#eNroll img { padding: 5px; width: 14px; vertical-align:middle; }
/* eNroll Div */

/* CSS Document */ /* CETIN CONE */